
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section section-team text-center" >
    <div class="container">
        <h2 class="title titles-op">Aquí está nuestro equipo</h2>
        <div class="team">
            <div class="row">
                <div class="col-md-4">
                    <div class="team-player">
                        <img src="https://image.ibb.co/mHh9zc/Ocampo.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised" height="100" width="100">
                        <h4 class="title">Luis Miguel Pimienta</h4>
                        <p class="category text-primary">Engineering Student / Designer</p>
                        <p class="description">
                            Estudiante del décimo semestre de Ingeniería de Sistemas de la Universidad de la Amazonia, encargado del Diseño Web con Razor y Bootstrap 4. 
                            <a href="mailto:l.pimienta@udla.edu.co">l.pimienta@udla.edu.co</a> para que las personas puedan seguirle:
                        </p>
                        <a href="https://www.instagram.com/acero.lm/" class="btn btn-primary btn-icon btn-round"><i class="fa fa-instagram" target="_blank"></i></a>
                        <a href="https://api.whatsapp.com/send?phone=573123947494" class="btn btn-primary btn-icon btn-round" target="_blank"><i class="fa fa-whatsapp"></i></a>
                        <a href="https://www.facebook.com/AceroLM" class="btn btn-primary btn-icon btn-round" target="_blank"><i class="fa fa-facebook-square"></i></a>
                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-player">
                        <img src="https://image.ibb.co/gbeBCx/julio.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised" height="100" width="100">
                        <h4 class="title">Julio Alfredo Vásquez</h4>
                        <p class="category text-primary">Engineering Student / Developer</p>
                        <p class="description">
                            You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                            <a href="#">links</a> for people to be able to follow them outside the site.
                        </p>
                        <a href="https://twitter.com/Julio_A_Vasquez" class="btn btn-primary btn-icon btn-round" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.instagram.com/darkphurion/" class="btn btn-primary btn-icon btn-round"target="_blank"><i class="fa fa-instagram"></i></a>
                        <a href="https://api.whatsapp.com/send?phone=573506411011" class="btn btn-primary btn-icon btn-round" target="_blank"><i class="fa fa-whatsapp"></i></a>
                        <a href="https://www.facebook.com/Nation.Rock.And.Roll" class="btn btn-primary btn-icon btn-round" target="_blank"><i class="fa fa-facebook-square"></i></a>
                        <a href="https://plus.google.com/u/1/+MSJULITOVASQUEZ" class="btn btn-primary btn-icon btn-round" target="_blank"><i class="fa fa-google-plus"></i></a>
                        <a href="http://www.youtube.com/c/JulioVasquez96 " class="btn btn-primary btn-icon btn-round" target="_blank"><i class="fa fa-youtube-play"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-player">
                        <img src="https://image.ibb.co/kr3Gec/jose.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised" height="100" width="100">
                        <h4 class="title">Jóse Danilo Dussan</h4>
                        <p class="category text-primary">Engineering Student / DBA</p>
                        <p class="description">
                            You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                            <a href="#">links</a> for people to be able to follow them outside the site.
                        </p>
                        
                        <a href="https://www.facebook.com/JoseDaniloDussan" class="btn btn-primary btn-icon btn-round" target="_blank"><i class="fa fa-facebook-square"></i></a>
                        <a href="https://twitter.com/JoseDussann" class="btn btn-primary btn-icon btn-round" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://api.whatsapp.com/send?phone=573228501180" class="btn btn-primary btn-icon btn-round" target="_blank"><i class="fa fa-whatsapp"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" section-contact-us text-center">
    <div class="container">
        <h2 class="title">¿Quieres trabajar con nosotros?</h2>
        <p class="description">Tu opinion es muy importante para nosotros</p>
        <div class="row">
            <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                <div class="input-group input-lg">
                    <span class="input-group-addon">
                        <i class="now-ui-icons users_circle-08"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Nombre">
                </div>
                <div class="input-group input-lg">
                    <span class="input-group-addon">
                        <i class="now-ui-icons ui-1_email-85"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="E-mail">
                </div>
                <div class="textarea-container">
                    <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Mensaje"></textarea>
                </div>
                <div class="send-button">
                    <a href="mailto:events@gmail.com" class="btn btn-primary btn-round btn-block btn-lg">Enviar mensaje</a>
                </div>
            </div>
        </div>
    </div>
</div>

