@{
    ViewBag.Title = "Home Page";
}
<div class="wrapper">
    <div class="page-header" id="page-header">
        <div class="page-header-image" id="page-header-image" data-parallax="true" >
            <div class="container">
                <div class="content-center" >
                    <img class="n-logo" src="~/Content/Img/now-ui-kit/now-logo.png" alt="">
                     <h1 class="title titles-op" id="go">..Event Manager..</h1>
                    <h3>Nueva y simple Solución a su alcance.</h3>

                </div>
            </div>
        </div>
    </div>
</div>