@model Events.Models.People_Model

@{
    ViewBag.Title = "Sign_up";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section section-signup" id="section-signup">
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-md-8 col-lg-6 col-sm-10" data-background-color="orange" id="formulario">
                @using (Html.BeginForm("Sign_up", "Home", FormMethod.Post, new { @Class = "form" }))
                {
                    <div class="header text-center col-12">
                        <h4 class="title title-up text-center">Sign Up</h4>
                    </div>
                    <hr />
                    <div class="form-inline ">
                        <div class="input-group form-group-no-border col-md-6  col-sm-12">
                            <span class="input-group-addon">
                                <i class="now-ui-icons users_single-02"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="Primer Nombre" name="Nombre1" />
                        </div>
                        <div class="input-group form-group-no-border col-md-6 col-sm-12">
                            <span class="input-group-addon">
                                <i class="now-ui-icons users_single-02"></i>
                            </span>
                            <input type="text" placeholder="Segundo Nombre" class="form-control" name="Nombre2" />
                        </div>
                        <div class="input-group form-group-no-border  col-md-6 col-sm-12">
                            <span class="input-group-addon">
                                <i class="now-ui-icons users_circle-08"></i>
                            </span>
                            <input type="text" placeholder="Primer Apellido" class="form-control" name="Apellido1"/>
                        </div>
                        <div class="input-group form-group-no-border  col-md-6 col-sm-12">
                            <span class="input-group-addon">
                                <i class="now-ui-icons users_circle-08"></i>
                            </span>
                            <input type="text" placeholder="Segundo Apellido" class="form-control" name="Apellido2"/>
                        </div>
                        <div class="input-group form-group-no-border  col-md-6 col-sm-12">
                            <span class="input-group-addon">
                                <i class="now-ui-icons business_badge"></i>
                            </span>
                            <input type="number" placeholder="Identificacion" class="form-control" name="Identificacion"/>
                        </div>
                        <div class="input-group form-group-no-border  col-md-6 col-sm-12">
                            <span class="input-group-addon">
                                <i class="now-ui-icons education_atom"></i>
                            </span>
                            <input type="number" placeholder="Telefono" class="form-control" name="Telefono"/>
                        </div>
                        <div class="input-group form-group-no-border   col-md-6 col-sm-12">
                            <input class="form-control" type="date" id="example-date-input" value="1996-02-22" name="Fecha_Nacimiento">
                        </div>
                        <div class="input-group form-group-no-border  col-md-6 col-sm-12">

                            <select class="form-control" id="Genero" name="Genero">
                                <option>Seleccione Genero</option>
                                @foreach (System.Data.DataRow row in ViewBag.genero.Rows)
                                {
                                    <option value=@row["Tipo"]>@row["Tipo"]</option>
                                }
                            </select>
                        </div>
                        <div class="input-group form-group-no-border col-12">
                            <span class="input-group-addon">
                                <i class="now-ui-icons ui-1_email-85"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="Email..." name="Email" value="jualvali"/>
                        </div>

                        <div class="input-group form-group-no-border  col-md-6 col-sm-12">
                            <span class="input-group-addon">
                                <i class="now-ui-icons text_caps-small"></i>
                            </span>
                            <input type="password" placeholder="Contraseña" class="form-control" name="Password"/>
                        </div>
                        <div class="input-group form-group-no-border  col-md-6 col-sm-12">
                            <span class="input-group-addon">
                                <i class="now-ui-icons text_caps-small"></i>
                            </span>
                            <input type="password" placeholder="Confirmar Contraseña" class="form-control" name="Password"/>
                        </div>
                    </div>
                    <div class="footer text-center col-12">
                        <input type="submit" class="btn btn-neutral btn-round btn-lg" value="Crear cuenta" /><br />
                    </div>

                }
                <button id="loginurl"><a href="~/Home/Login" id="textinfo"> Login</a></button>
            </div>

        </div>
    </div>
</div>
