@font-face {
    font-family: 'FontAwesome';
    src: url('../../fonts/Validation/fontawesome-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*[ Alert validate ]*/
.validate-input {
    position: relative;
}
.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    transform: translateY(-50%);
    right: 2px;
    pointer-events: none;
    font-family: Poppins-Medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s;
}
.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
}
.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}
@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}
.m-b-26 {
    margin-bottom: 26px;
}
.m-b-18 {
    margin-bottom: 18px;
}